<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.botmedia.content.repository.ArticleTagMapper">

    <delete id="deleteByArticleId">
        DELETE FROM article_tags WHERE article_id = #{articleId}
    </delete>

    <select id="findTagIdsByArticleId" resultType="java.lang.Long">
        SELECT tag_id FROM article_tags WHERE article_id = #{articleId}
    </select>

</mapper>
